:root {
    --black:        rgba(0, 0, 0, 1);
    --blue:         rgba(56, 114, 255, 1);
    --cyan:         rgba(128, 188, 202, 1);
    --dark-blue:    rgba(26, 74, 117, 1);
    --dark-grey:    rgba(117, 117, 117, 1);
    --grey:         rgba(235, 241, 250, 1); 
    --light-grey:   rgba(235, 241, 250, .5); 
    --light-yellow: rgba(254, 245, 232, 1);
    --pink:         rgba(197, 100, 159, 1);
    --salmon:       rgba(240, 132, 107, 1);
    --sky:          rgba(110, 189, 204, 1);
    --white:        rgba(255, 255, 255, 1);
    --yellow:       rgba(245, 178, 69, 1);
    --museo:        "MuseoModerno", sans-serif;
    --open-sans:    'Open Sans', arial, sans-serif;
}

body {
    font-family: var(--open-sans);
    font-size: 1rem;
    font-weight: 600;
    padding-top: 4.5em;
}

@media (min-width: 960px){ 

    .section{
        background-image: url(assets/background-section.jpg), url(assets/background-6.png);
        background-position: center top, center center;
        background-repeat: no-repeat, repeat-y; 
        background-size: 100%, 100%;
    }

    .section.bg-secondary{
        background-image: url(assets/background-3.svg);
    }

}

/* navbar */

.navbar{
    background-color: var(--dark-blue)!important;
}

.navbar .navbar-expand-lg .navbar-nav .nav-link{
    color: var(--white);
    font-size: .8rem;
    padding-left: 2rem;
    text-transform: uppercase;
}

.navbar .navbar-nav .nav-item .nav-link:hover, 
.navbar .navbar-nav .nav-item .nav-link:focus, 
.navbar .navbar-nav .nav-item .nav-link:active, 
.navbar .navbar-nav .nav-item .nav-link.active
{
    color: var(--yellow);
}

.navbar .navbar-toggler{
    border-color: var(--primary);
}

.navbar .navbar-toggler:focus{
    box-shadow: var(--primary)
}

.navbar .offcanvas{
    background: var(--dark-blue)
} 

.navbar .offcanvas .offcanvas-header .btn-close{
    color: var(--white)!important;
}
 
/* nav-pills */

.nav-pills{
    justify-content: center;
}

.nav-pills .nav-item{
    margin: 0 .5rem;
}

.nav-pills .nav-item .nav-link{
    border-radius: 50px;
    border: 1px solid var(--dark-blue);
    color: var(--dark-blue);
    font-weight: 700;
}

.nav-pills .nav-item .nav-link.active{
    background: var(--sky);
    border: 1px solid var(--sky);
    color: var(--white);
}


/* breadcrumb */

.breadcrumb-item.active a{
    color: var(--dark-blue);
    font-style: italic;
}

/* titles */

.h1, .h2, .h3, .h4{
    color: var(--black); 
    font-family: var(--museo);
    font-size: 2rem;
    font-weight: 700;
}

.h3 {
    font-family: var(--open-sans);
    font-size: 1.5rem;
    font-weight: 700;
}

.h4 {
    color: var(--dark-grey);
    font-family: var(--open-sans);
    font-size: 1.1rem;
    text-transform: uppercase;
}
 
.h6 {
    font-family: var(--museo);
    font-size: 1.5rem;
    font-weight: 700;
    align-items: center;
    display: flex;
}
 
.h6 img{
    margin-right: 8px;
}

/* hero */

.hero {
    background-size: 100%;
    height: 60vh;
    overflow: hidden;
    background-position: bottom right; 
    background-repeat: no-repeat;
    background-size: 55%;
}  

.hero.hero-info{ 
    background-color: var(--cyan);
}

.hero.hero-warning{ 
    background-color: var(--yellow);
}

@media (min-width: 960px){

    .hero{ 
        background-image: url(assets/background-hero.svg);
    } 

}

/* bg */

.bg-grey{
    background-color: var(--grey)
}

.bg-light-grey{
    background-color: var(--light-grey)
}

.bg-secondary{
    background-color: var(--light-yellow)!important;
}

.bg-warning{
    background-color: var(--yellow)!important;
}

.bg-danger{
    background-color: var(--salmon)!important;
}

.bg-info{
    background-color: var(--cyan)!important;
}

/* badge */

.badge{
    color: var(--black)!important;
    margin-bottom: 1.3em;
    padding: .5em 1.5em;
}

.badge-danger{
    background-color: var(--salmon)!important;
}

.badge-info{
    background-color: var(--cyan)!important;
}

.badge-warning{
    background-color: var(--yellow)!important;
}

/* btn */

.btn{
    border-radius: 50px;
    font-weight: bolder;
    text-transform: uppercase;
}

.btn-lg{
    padding: 1rem 2rem;
}

.btn.btn-primary{
    background-color: var(--yellow)!important;
    border: none;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 
                0 2px 2px 0 rgba(0, 0, 0, .14), 
                0 1px 5px 0 rgba(0, 0, 0, .12);
    color: var(--dark-blue);
    font-size: .9rem;
    font-weight: 700;
    padding: .6rem;
    text-transform: uppercase;
}

/* card */

.card{
    border: none;
    box-shadow: 0 4px 4px 0px rgba(0, 0, 0, .25);
}

.card .card-body{
    padding: 1rem 1.8rem;
}

.card .card-body .h5{
    font-family: var(--open-sans);
    font-size: 1.1rem;
    font-weight: 700;
    line-height: 1.4rem;
}
    
.card .card-link{
    align-items: center;
    color: var(--dark-blue);
    display: block;
    display: flex;
    font-size: .85rem;
    font-style: italic;
    margin: 1rem 0;
    text-decoration: none;
}

.card .card-link:before{
    content: '';
    background-image: url(assets/icons/download.svg);
    background-position: center left;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 30px;
    width: 25px;
}

.card .card-title{
    display: flex;
    align-items: center;
    margin-bottom: 1.6rem;
}

.card .card-title img{
    margin-right: 8px;
}

/* list-group */

.card .list-group{
    background: transparent;
}

.card .list-group .list-group-item{
    background: transparent;
    border: none;
    padding-left: 0;
    padding-right: 0;
}

.card .list-group .list-group-item a {
    text-decoration: none;
    display: flex;
    align-items: center;
    font-weight: normal;
    font-size: 14px;
}

.card .list-group .list-group-item a img{
    margin-right: 8px;
}

/* figure */

.figure {
    overflow: hidden;
}

.figure-img {
    height: 100%;
    object-fit: cover; 
} 
 
/* video */ 
  
.video {
    /* --video--width: 1296;
    --video--height: 540; */

    border-radius: 8px;
    position: relative; 
    overflow: hidden;
    max-width: 100%;
    background: black;
    box-shadow: 0 50px 64px rgba(0, 0, 0, .01),
                0 75px 59px rgba(0, 0, 0, .08),
                0 42px 50px rgba(0, 0, 0, .02),
                0 18px 37px rgba(0, 0, 0, .04),
                0 5px 20px rgba(0, 0, 0, .05);
    overflow: hidden;
}

.video iframe,
.video object,
.video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* footer */

.footer {
    background-color: var(--cyan);
}

/* swiper carousel */

.swiper {
    height: 87%; 
    padding: 20px;
    width: 100%;
}

@media (min-width: 576px){ 
    
    .swiper {
        height: 87%;
        padding: 0 24px 80px 32px;
        width: 100%;
    }

}

.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled{
    display: none;
}

.swiper-button-prev, .swiper-rtl .swiper-button-next{ 
    left: 0px;
}

.swiper-button-next, .swiper-rtl .swiper-button-prev{
    right: 0px;
}

.swiper-button-prev, .swiper-rtl .swiper-button-next,
.swiper-button-next, .swiper-rtl .swiper-button-prev{
    background: var(--sky);
    border-radius: 50px;
    padding: 22px;
} 

.swiper-button-next:after, .swiper-button-prev:after{
    color: white;
    font-size: 1.5rem;
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
    bottom: 0;  
    position: relative;
    width: auto;
}

.swiper-pagination-bullet {
    align-content: center;
    background: transparent;
    color: rgba(0,0,0,.87);
    font-size: .7rem;
    height: 40px;
    line-height: 20px;
    opacity: 1;
    text-align: center;
    width: 40px;
}

.swiper-pagination-bullet-active {
    background: var(--sky);
    color: var(--black);
}
    
.append-buttons  {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 40px;
} 

.prepend-slide, 
.append-slide{
    display: none
}

@media (min-width: 576px){ 
    .prepend-slide, 
    .append-slide{
        align-content: center;
        border-radius: 50px;  
        color: rgba(0,0,0,.87);
        display: inline-block;
        font-family: swiper-icons;
        font-size: .7rem;
        font-variant: initial;
        height: 40px;  
        letter-spacing: 0;
        line-height: 1;
        text-align: center;
        text-decoration: none; 
        text-transform: none !important;
        width: 40px;
    }

    .prepend-slide:after{
        content: 'prev';
    } 

    .append-slide:after{
        content: 'next';
    } 
}

.opacity{
    opacity: .8
}
